// This file houses all of the styles for the grid.
// Do not change this file. Proceed with caution if you do.

// Containers
.wrap,
.contain,
.constrain {
  @include clearfix;
  @include grid-container;

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word;
}

.wrap {
  max-width: 1024px;
}

.contain {
  max-width: 700px;
}

.constrain {
  max-width: 450px;
}

$_grid-sizes: ("one": 1, "two": 2, "three": 3, "four": 4, "five": 5, "six": 6, "seven": 7, "eight": 8, "nine": 9, "ten": 10, "eleven": 11, "twelve": 12);

%position {
  position: relative;
}

@each $size, $value in $_grid-sizes {
  .#{$size}col {
    @extend %position;

    @include media(">=tablet") {
      @include grid-column($value);
    }
  }

  .#{$size}col-always {
    @include grid-column($value);
  }
}
