// This file should house all of the styles for anything related to the layout of the website.
// Think of <html>, <body>, <main>, <section> tags
// or wrapper classes like .wrap, .contain, .constrain

$base-background-color: $white;
$alt-background-color: tint($base-background-color, 75%);
$overlay-color: rgba($black, 0.4);

html {
  background-color: $base-background-color;
  box-sizing: border-box;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
}

main {
  padding-top: 72px;
}

// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
//
// These selection rule sets have to be separate.
// Customize the background color to match your design.
::-moz-selection {
  background: $alt-background-color;
  text-shadow: none;
}

::selection {
  background: $alt-background-color;
  text-shadow: none;
}
