$base-font-color: $black;
$heading-font-color: $base-font-color;
$action-font-color: $blue;
$base-border-color: $base-font-color;
$base-border: 1px solid $base-border-color;

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}


$headings: (
  h1: (2.5, 2, 4, 1),
  h2: (1.6875, 1.5, 2.5, 0.5),
  h3: (1.375, 1, 2, 0.5),
  h4: (1.2, 1, 1.5, 0.5),
  h5: (1, 1, 2.5, 0.5),
  h6: (1, 1, 2.5, 0.5)
);

// Set headings sizes, line-heights and margins
@each $heading, $properties in $headings {
  #{$heading}, .#{$heading} {
    font-family: $heading-font-family;
    font-size: modular-scale(nth($properties, 1));
    font-weight: bold;
    line-height: (nth($properties, 2));
    margin-top: unquote(nth($properties, 3) + 'rem');
    margin-bottom: unquote(nth($properties, 4) + 'rem');
  }
}

// Set margins between headings
h1 + h2, .h1 + .h2 {
  margin-top: 1.5rem;
}

h2 + h3,
.h2 + .h3,
h3 + h4,
.h3 + .h4,
h4 + h5,
.h4 + .h5 {
  margin-top: 0.75rem;
}

h5 + h6, .h5 + .h6 {
  margin-top: 0.5rem;
}

p {
  margin: 0 0 $small-spacing;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

blockquote {
  background: $gray;
  border-left: 0.25rem solid $silver;
  margin: $base-spacing 0;
  padding: $base-spacing $small-spacing;
  quotes: "“" "”";
  position: relative;

  &:before {
    color: $silver;
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    top: -34px;
  }

  p {
    display: inline;
  }
}

cite {
  display: block;
  font-style: normal;
}

small, .small {
  line-height: $base-line-height;
  font-size: 70%;
}

/* Code */
code, kbd, pre, samp, .code {
  background-color: $gray;
  color: $base-font-color;
  padding: 1px 3px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 4px;
  border: 1px solid $silver;
}

code, kbd, samp, .code {
  display: inline-block;
  vertical-align: middle;
}

pre, .pre {
  display: block;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 12px 10px;
  overflow-x: auto;
}

br {
  &.brm {
    // Background Colors
    $base-background-color: $white;

    @include media(">=tablet") {
      display: none;
      visibility: hidden;
    }
  }

  &.mbr {
    display: none;
    visibility: hidden;

    // Background Colors
    $base-background-color: $white;

    @include media(">=tablet") {
      display: block;
      visibility: visible;
    }
  }
}