// Common Among Layouts
// ==========================================================================

$layout-action-color: $base-action-color;
$layout-icon-color: $white;

// Flexible Columns
// ==========================================================================

$column-circle-size: 160px;
$column-icon-size: 3rem;
$column-icon-color: $layout-icon-color;

// Hero Unit
// ==========================================================================

// Slider
// ==========================================================================

$slider-arrow-color: $white;
$slider-dots-color: $slider-arrow-color;

// Staggered Rows
// ==========================================================================

$staggered-row-height: 500px;
$staggered-circle-size: 250px;
$staggered-icon-size: 6rem;
$staggered-icon-color: $layout-icon-color;

// Toggles
// ==========================================================================

$toggle-color: $layout-action-color;

// WYSIWYGs
// ==========================================================================
