// Foundation
@import "normalize";
@import "bourbon";
@import "neat";

// Variables
@import "variables/custom/colors";
@import "variables/custom/fonts";
@import "variables/custom/base";
@import "variables/custom/general";
@import "variables/custom/components";
@import "variables/custom/partials";
@import "variables/custom/layouts";
@import "variables/custom/templates";

@import "variables/default/colors";
@import "variables/default/fonts";
@import "variables/default/base";
@import "variables/default/general";
@import "variables/default/components";
@import "variables/default/partials";
@import "variables/default/layouts";
@import "variables/default/templates";

// Mixins & Helpers
@import "helpers/mixins";
@import "family";
@import "include-media";

// Base
@import "base/typography";
@import "base/layout";
@import "base/misc";

body.login {
  #login_error, .message {}

  div#login {
    h1 {
      a {
        background-image: url("../img/login-logo.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 49px;
        width: 100%;
        height: 100%;
      }
    }

    form#loginform, form#registerform, form#lostpasswordform {
      p {
        label {
          color: $black;
          font-family: $heading-font-family;
          font-weight: 700;
        }

        &.forgetmenot {
          input#rememberme {}
        }

        &.submit {
          input#wp-submit {
            @extend button;
          }
        }
      }

      input {}

      input#user_login {}

      input#user_pass {}
    }

    p#nav {
      a {
        @extend a;
      }
    }

    p#backtoblog {
      a {
        @extend a;
      }
    }
  }
}
