// This file should house all of the styles for the Flexible Columns layout.
// The corresponding PHP file is layouts/layout-flexible_columns.php

$column-circle-size: 160px;
$column-icon-size: 3rem;
$column-icon-color: $white;

.flexible-columns {
  [class^="row-"],
  [class*=" row-"] {
    // row-specific styles here

  }

  [class^="column-"],
  [class*=" column-"] {
    // column-specific styles here
    padding: 1rem;

    .circle {
      @include size($column-circle-size);

      i {
        color: $column-icon-color;
        font-size: $column-icon-size;
      }
    }

    a {
      &:hover,
      &:focus {
        text-decoration: none;

        .circle {
          background-color: $base-btn-background-hover;

          &.tweek-bg {
            background-color: transparent;
            opacity: 0.8;
          }
        }

        i {
          color: $column-icon-color;
          font-size: $column-icon-size;
        }
      }
    }
  }

  .button-wrapper {
    clear: both;
  }
}
