// This file should house all of the common styles for layouts.
// The corresponding PHP files are in the layouts folder.

.hero-unit,
.flexible-columns,
.staggered,
.wysiwygs {
  .circle {
    background-color: $layout-action-color;
    margin: 0 auto;
    position: relative;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: background-color, color, opacity;
    transition-timing-function: ease-in-out;

    i {
      display: block;
      transition: color 0.25s ease-in-out 0s;
    }

    &.tweek-bg {
      background-color: transparent;
    }
  }
}
