// This file should house all of the styles for the Hero Unit layout.
// The corresponding PHP file is layouts/layout-hero_unit.php

.hero-unit {
  .tweek-bg {
    height: auto;
  }

  .content {
    color: $white;

    #{$all-headings} {
      margin-top: 0;
    }

    @include media(">=tablet") {
      width: 65%;
      margin: 0 auto;
    }
  }

  .left {
    .content {
      float: left;
    }
  }

  .right {
    .content {
      float: right;
    }
  }
}
