// This file should house all of the styles for the Hero Unit layout.
// The corresponding PHP file is layouts/layout-hero_unit.php

.hero-unit {
  .tweek-bg {
    height: auto;
  }

  .content {
    margin: 10rem auto;
    color: $white;

    @include media(">=tablet") {
      width: 65%;
    }
  }

  .left {
    .content {
      float: left;
    }
  }

  .right {
    .content {
      float: right;
    }
  }
}
