.hero-unit {
  .tweek-bg {
    height: auto;
  }

  .content {
    margin: 10rem auto;

    // Background Colors
    $base-background-color: $white;

    @include media(">=tablet") {
      width: 65%;
    }


    color: $white;
  }

  .left {
    .content {
      float: left;
    }
  }

  .right {
    .content {
      float: right;
    }
  }
}