// This file should house all of the styles for the Staggered Rows layout.
// The corresponding PHP file is layouts/layout-staggered_rows.php

.staggered {
  .circle {
    @include size($staggered-circle-size);

    i {
      color: $staggered-icon-color;
      font-size: $staggered-icon-size;
    }

    @include media(">=tablet") {
      @include valign;
    }
  }

  a {
    &:hover,
    &:focus {
      text-decoration: none;

      .circle {
        background-color: $base-btn-background-hover;

        &.tweek-bg {
          background-color: transparent;
          opacity: 0.8;
        }
      }

      i {
        color: $staggered-icon-color;
        font-size: $staggered-icon-size;
      }
    }
  }

  .button-wrapper {
    clear: both;
  }

  .row {
    &:nth-child(odd) {
      background-color: $silver;
    }

    @include media("<tablet") {
      .content {
        text-align: center;
      }
    }


    @include media(">=tablet") {
      height: $staggered-row-height;

      .first,
      .last,
      .wrap {
        height: 100%;

        h3 {
          margin-top: 0;
        }
      }

      &:nth-child(even) {
        .first {
          float: right;
        }
      }
    }
  }
}
