// This file should house all of the styles for any links.

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $base-link-color-hover;
  }
}
