// This file should house all of the styles for any links.

$base-link-color: $action-font-color;
$base-link-color-hover: shade($base-link-color, 20%);

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $base-link-color-hover;
  }
}
