.slick-slider {
  &, .slick-slide {
    overflow: hidden;
    height: 350px;

    @media (min-width: 567px) {
      height: 500px;
    }
  }

  .slick-arrow {
    width: auto;
    height: auto;
    z-index: 1;

    &:before {
      content: '';
    }

    &.slick-prev {
      left: 25px;

      [dir="rtl"] & {
        left: auto;
        right: 25px;

        .icon:before {
          content: '\f125';
        }
      }
    }

    &.slick-next {
      right: 25px;

      [dir="rtl"] & {
        right: auto;
        left: 25px;

        .icon:before {
          content: '\f124';
        }
      }
    }

    &:hover, &:focus {
      outline: none;
      background: transparent;
      color: transparent;

      .icon {
        color: rgba($white, 1);
      }
    }

    .icon {
      font-size: 2rem;
      color: rgba($white, 0.75);
    }
  }

  &.slick-dotted {
    margin-bottom: 0;
  }

  .slick-dots {
    bottom: 5%;
    line-height: 0;

    li {
      height: 15px;
      width: 15px;

      button {
        height: 15px;
        width: 15px;
        padding: 0px;

        &:before {
          width: 15px;
          height: 15px;
          font-size: 15px;
          line-height: 17px;
          color: white;
          opacity: 0.498039;
        }
      }

      &.slick-active button:before {
        color: white;
        opacity: 1;
      }
    }
  }
}