/********************VARIABLES********************/

/* Calculations
   ========================================================================== */

// Base sizes
$base-font-size: 112.5; // In %. Also used for mobile. Number only, no units. Value here equates to 18px.
$base-font-size-desktop: 125; // In %. Used to calculate the desktop font size. Number only, no units. Value here equates to 20px.
$line-height: 1.5; // In REMs. Value here equates to 27px.
$line-height-desktop: 1.625; // In REMs. Value here equates to 32.5px.
$max-width: 35; // Number only, no units. Gets converted to REMs.

// Modular Scale
$modular-scale: (xxxl: 4.3, xxl: 3.5, xl: 3, l: 2.5, m: 2, s: 1.6875, xs: 1.4375, xxs: 1.2, xxxs: 1, xxxxs: 0.8125);

// Mobile base & leading
$base: 16 * $base-font-size / 100;
$leading: round($base * $line-height);
$leading-rem: $line-height;

// Desktop base & leading
$base-desktop: 16 * $base-font-size-desktop / 100;
$leading-desktop: round($base-desktop * $line-height-desktop);
$leading-rem-desktop: $line-height-desktop;

/* Color schemes
   ========================================================================== */

/*
Cool
*/

$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

/*
Warm
*/

$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

/*
Gray Scale
*/

$white: white;
$gray: #eeeeee;
$silver: #cccccc;
$black: #444444;

/* Font themes
   ========================================================================== */

// Load Google Fonts
@import url("https://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+Sans:300,400,700,300italic,400italic");

// Set Google Fonts
$font-body: "Alegreya", "Georgia", serif; // This will be the font for body text
$font-headings: "Alegreya Sans", sans-serif; // This will be the font for headings (h1, h2, h3, ...)

// Set font colors
$color-font-body: $black;
$color-font-headings: $color-font-body;
$color-font-light: lighten($black, 20%);
$color-font-figcaption: $color-font-body;

/* Layout variables
   ========================================================================== */

// Global variables (affects scss in config/_global)
$body-bg-color: $white;

$link-color: $olive;
$link-color-hover: darken($olive, 5%);

$btn-color: $olive;
$btn-color-hover: darken($olive, 5%);

$btn-color-alt: $black;
$btn-color-alt-hover: lighten($black, 8%);

$toggle-color: $olive;

// Flexible Content variables (affects scss in _layouts)
$staggered-row-height: 500px;
$staggered-circle-size: 250px;
$staggered-icon-size: 6rem;
$staggered-icon-color: $white;

$column-circle-size: 160px;
$column-icon-size: 3rem;
$column-icon-color: $white;

$overlay-color: rgba($black, 0.4);

// Header variables (affects scss in _header)
$header-color: $olive;